<h2>شاخص بورس امروز {{ jalali_date }}</h2>
<p><a href="https://app.livetse.ir/technical/32097828799138957/%D8%B4%D8%A7%D8%AE%D8%B5%20%D9%83%D9%84">شاخص بورس</a>
    امروز {{ jalali_date }} با 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص کل / تغییر -->
    {{ رشد 79 هزار }}
     واحدی به 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص کل / مقدار -->
    {{ 3.170 میلیون }}
     رسید. همچنین <a
        href="https://app.livetse.ir/technical/47041908051542008/%D9%87%D9%85%20%D9%88%D8%B2%D9%86">شاخص هم وزن</a> در
    روز جاری با 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص کل (هم وزن) / تغییر -->
    {{ رشد 18 هزار }}
    واحدی به 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص کل (هم وزن) / مقدار -->
    {{ 964 هزار }}
    واحد و <a
    href="https://app.livetse.ir/technical/8384385859414435/%D8%B4%D8%A7%D8%AE%D8%B5%20%D9%82%D9%8A%D9%85%D8%AA%20(%D9%87%D9%85%20%D9%88%D8%B2%D9%86)">شاخص
    قیمت</a> با 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص قیمت / تغییر -->
    {{ افت 15 هزار }}
    واحدی به 
    <!-- https://old.tsetmc.com/Loader.aspx?ParTree=15 -> شاخص قیمت / مقدار -->
    {{ 598 هزار واحد }}
    رسید.</p>
<h2>نقشه بازار بورس امروز {{ jalali_date }}</h2>
<p>نقشه بازار یک شمای کلی از نمادهای مورد توجه بازار، تحرکات حقوقی، گروه های مورد توجه، چرخش جریان نقدینگی و... می‌دهد.
    با دقت در این نقشه می‌توان گروه و سهم های مستعد رشد را شناسایی کرد. همچنین می‌توان مدیریت پرتفوی بهتری را انجام
    داد. </p>
<figure><img src="{{ tsetmc_img_path }}" sizes="(max-width: 1024px) 100vw, 1024px"
        srcset="{{ tsetmc_img_path }} 1024w, {{ tsetmc_img_path }} 300w, {{ tsetmc_img_path }} 768w, {{ tsetmc_img_path }} 1238w"
        alt="" width="1024" height="730" />
    <figcaption>ارزش معاملات ، شاخص ها و نمادهای پر تراکنش و تاثیرگذار بر شاخص</figcaption>
</figure>
<figure><img src="{{ nahayatnegar_marketmap_img_path }}" sizes="(max-width: 1024px) 100vw, 1024px"
        srcset="{{ nahayatnegar_marketmap_img_path }} 1024w, {{ nahayatnegar_marketmap_img_path }} 300w, {{ nahayatnegar_marketmap_img_path }} 768w, {{ nahayatnegar_marketmap_img_path }} 1434w"
        alt="" width="1024" height="562" />
    <figcaption>نقشه بازار</figcaption>
</figure>
<h2><a href="https://app.livetse.ir/livechart">رصد لحظه ای بورس امروز {{ jalali_date }} </a></h2>
<p>بخش <a href="https://app.livetse.ir/livechart">رصد لحظه ای بازار</a> (شامل نمودارهای  <a
        href="https://livetse.ir/nemadha/">وضعیت نمادهای بازار</a>، <a href="https://livetse.ir/charbesh/">چربش</a>، <a
        href="https://livetse.ir/hayajan/">هیجان</a>، <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">سرانه
        خرید</a> و <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">سرانه
        فروش</a>، <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">قدرت
        خریدار حقیقی بازار</a>، <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">سرانه
        خرید و فروش صندوق ها</a> و <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">قدرت
        خریدار حقیقی صندوق ها</a>، <a href="https://app.livetse.ir/livechart">ورود و خروج پول حقیقی به بازا</a>ر، <a
        href="https://livetse.ir/bigmoney/">ورود و خروج پول درشت حقیقی به بازار</a>، <a
        href="https://livetse.ir/bigmoney/">ورود و خروج پول درشت حقیقی به صنایع</a>، <a
        href="https://app.livetse.ir/livechart">ورود و خروج پول حقیقی به صندوق ها</a>، <a
        href="https://livetse.ir/bigmoney/">ورود و خروج پول درشت حقیقی به صندوق ها</a>، <a
        href="https://livetse.ir/volume/">ارزش معاملات</a>، <a href="https://app.livetse.ir/livechart">درصد خرید و فروش
        حقوقی</a>، <a
        href="https://livetse.ir/%d8%a2%d9%85%d9%88%d8%b2%d8%b4-%d8%b3%d8%b1%d8%a7%d9%86%d9%87-%d8%ae%d8%b1%db%8c%d8%af%d9%88%d9%81%d8%b1%d9%88%d8%b4-%d9%82%d8%af%d8%b1%d8%aa-%d8%ae%d8%b1%db%8c%d8%af%d8%a7%d8%b1/">درصد
        خرید و فروش درشت حقیقی</a> و <a href="https://livetse.ir/bigmoney/">قدرت پول درشت حقیقی</a>) که روند بازار در طی
    روز را نشان می دهد.</p>
<p><a href="https://app.livetse.ir/livechart"><br />برای استفاده از رصد لحظه ای در تایم بازار به صورت زنده، کلیک کنید.
        ‌<br /></a><br /><img src="{{ livetse_market_sentiment_img_path }}"
        sizes="(max-width: 456px) 100vw, 456px"
        srcset="{{ livetse_market_sentiment_img_path }} 456w, {{ livetse_market_sentiment_img_path }} 244w"
        alt="" width="456" height="561" /><br />
        <img src="{{ livetse_dominance_img_path }}"
        sizes="(max-width: 460px) 100vw, 460px"
        srcset="{{ livetse_dominance_img_path }} 460w, {{ livetse_dominance_img_path }} 246w"
        alt="" width="460" height="560" /><br />
        <img src="{{ livetse_market_symbols_status_img_path }}"
        sizes="(max-width: 463px) 100vw, 463px"
        srcset="{{ livetse_market_symbols_status_img_path }} 463w, {{ livetse_market_symbols_status_img_path }} 248w"
        alt="" width="463" height="560" /><br />
        <img src="{{ livetse_real_big_money_img_path }}"
        sizes="(max-width: 457px) 100vw, 457px"
        srcset="{{ livetse_real_big_money_img_path }} 457w, {{ livetse_real_big_money_img_path }} 245w"
        alt="" width="457" height="559" /><br />
        <img src="{{ livetse_net_inflow_outflow_img_path }}"
        sizes="(max-width: 458px) 100vw, 458px"
        srcset="{{ livetse_net_inflow_outflow_img_path }} 458w, {{ livetse_net_inflow_outflow_img_path }} 243w"
        alt="" width="458" height="565" /><br />
        <img src="{{ livetse_avg_buy_sell_market_img_path }}"
        sizes="(max-width: 462px) 100vw, 462px"
        srcset="{{ livetse_avg_buy_sell_market_img_path }} 462w, {{ livetse_avg_buy_sell_market_img_path }} 246w"
        alt="" width="462" height="563" /><br />
        <img src="{{ livetse_big_money_power_img_path }}"
        sizes="(max-width: 459px) 100vw, 459px"
        srcset="{{ livetse_big_money_power_img_path }} 459w, {{ livetse_big_money_power_img_path }} 245w"
        alt="" width="459" height="563" /><br />
        <img src="{{ livetse_flow_fixed_income_funds_img_path }}"
        sizes="(max-width: 457px) 100vw, 457px"
        srcset="{{ livetse_flow_fixed_income_funds_img_path }} 457w, {{ livetse_flow_fixed_income_funds_img_path }} 236w"
        alt="" width="457" height="581" /><br />
        <img src="{{ livetse_avg_buy_sell_fixed_income_img_path }}"
        sizes="(max-width: 459px) 100vw, 459px"
        srcset="{{ livetse_avg_buy_sell_fixed_income_img_path }} 459w, {{ livetse_avg_buy_sell_fixed_income_img_path }} 244w"
        alt="" width="459" height="565" /><br />
        <img src="{{ livetse_market_mood_index_img_path }}"
        sizes="(max-width: 460px) 100vw, 460px"
        srcset="{{ livetse_market_mood_index_img_path }} 460w, {{ livetse_market_mood_index_img_path }} 245w"
        alt="" width="460" height="563" /><br />
        <img src="{{ livetse_flow_commodity_funds_img_path }}"
        sizes="(max-width: 427px) 100vw, 427px"
        srcset="{{ livetse_flow_commodity_funds_img_path }} 427w, {{ livetse_flow_commodity_funds_img_path }} 221w"
        alt="" width="427" height="580" /><br />
        <img src="{{ livetse_avg_buy_sell_commodity_funds_img_path }}"
        sizes="(max-width: 430px) 100vw, 430px"
        srcset="{{ livetse_avg_buy_sell_commodity_funds_img_path }} 430w, {{ livetse_avg_buy_sell_commodity_funds_img_path }} 224w"
        alt="" width="430" height="576" /><br />
        <img src="{{ livetse_market_stats_img_path }}"
        sizes="(max-width: 1283px) 100vw, 1283px"
        srcset="{{ livetse_market_stats_img_path }} 1283w, {{ livetse_market_stats_img_path }} 300w, {{ livetse_market_stats_img_path }} 1024w, {{ livetse_market_stats_img_path }} 768w"
        alt="" width="1283" height="520" /></p>
<h2><a href="https://app.livetse.ir/livechart">واچ لیست ویژه بورس امروز {{ jalali_date }} </a></h2>
<p><img src="https://livetse.ir/wp-content/uploads/2025/05/16-واچ-لیست-ویژه-7.jpg"
        sizes="(max-width: 797px) 100vw, 797px"
        srcset="https://livetse.ir/wp-content/uploads/2025/05/16-واچ-لیست-ویژه-7.jpg 797w, https://livetse.ir/wp-content/uploads/2025/05/16-واچ-لیست-ویژه-7-300x137.jpg 300w, https://livetse.ir/wp-content/uploads/2025/05/16-واچ-لیست-ویژه-7-768x350.jpg 768w"
        alt="" width="797" height="363" /></p>
<p>جدول فوق، نمادهایی است که بیشترین امتیاز تابلو را در تاریخ <strong>{{ jalali_date }}</strong> بدست آورده اند و بر حسب
    بیشترین امتیاز مرتب شده اند. این نمادها قفل صف خرید نیستند و به احتمال زیاد فرصت ورود می دهند. ولی بهتر است این
    نمادها رو در منفی ها خریداری کنید ( به همین دلیل تعداد زیادی از نمادها ارائه شده است و می شد فقط ۳ نماد اول که
    امتیاز بالاتری دارند را ارائه کرد).</p>
<p>همچنین لازم است سایر جنبه های این نمادها از جمله تکنیکال، اخبار و ... نیز بررسی شود. به عنوان یک پیشنهاد، از بین این
    نمادها، نمادهایی که مورد تایید شما نیز هست و سایر جنبه های ان را نیز بررسی کرده اید را در یک واچ لیست قرار دهید و در
    روز معاملاتی بعد به محض رصد تحرک خریداری کنید.</p>
<h2><a href="https://app.livetse.ir/livechart">نوتیفکیشن طلایی بورس امروز {{ jalali_date }} </a></h2>
    
<!-- go to https://app.livetse.ir/notification;
select "گارد صعودی ..." , "احتمال جمع شدن ..." , "تحرک ویژه";
    if golden notif exists then -->
<p>
    <!-- copy li tag(s) and 
    remove span tags without thair content and 
    remove a tags with thair content and 
    paste content here -->
</p>
<!-- else -->
<p>
    در تاریخ {{ jalali_date }} نوتیفیکیشن طلایی نداریم.
</p>

<p>می توانید با استفاده از بخش نوتیفیکیشن در حین بازار، از تحرکات بازار مطلع شوید و همچنین با استفاده از بخش رصد لحظه
    ای  روند بازار در کوتاه مدت پیشبینی کنید ، با استفاده از رصد تاریخی ، به صورت میان مدت بازار را تحلیل کنید.همچنین
    میتوانید در تالار معاملات زنده بازار را بصورت زنده رصد کنید و همراه تیم تحلیلی معامله کنید.</p>
{% include "market_report.html" %}
<p>
    <a href="https://app.livetse.ir/livechart"><br />مشاهده زنده نمودارها<br /></a>
    <br />
    <!-- update to last work day -->
    <a href="https://livetse.ir/market-report-21-ordibehesht-1404-2-21/"><br />گزارش بازار روز کاری گذشته<br /></a>
    <br />
    <a href="https://app.livetse.ir/"><br />ورود به سایت livetse<br /></a>
    <br />
    <a href="https://livetse.ir/category/market-report/"><br />گزارش تاریخی بازار<br /></a>
</p>